In [17]:
import numpy as np
import pandas as pd

school= pd.read_csv("enrollment.csv")
school.drop(columns=['african_american','american_indian','asian__not_pacific_islander', 
                    'hispanic','multiracial','native_hawaiian_or_other_pacific_islander', 'white'])

,neighborhood,total_students_enrolled,student_count_redactions,attending_feeder,attending_nonfeeder,total_with_feeder_status,feeder_count_redactions,grade_level
0,Allegheny Center,NaN,Y,NaN,NaN,NaN,NaN,Pre-K
1,Allegheny West,NaN,N,NaN,NaN,NaN,NaN,Pre-K
2,Allentown,NaN,Y,NaN,NaN,NaN,NaN,Pre-K
3,Arlington,NaN,Y,NaN,NaN,NaN,NaN,Pre-K
4,Arlington Heights,NaN,N,NaN,NaN,NaN,NaN,Pre-K
...,...,...,...,...,...,...,...,...
355,West End,NaN,Y,NaN,NaN,NaN,Y,12-Sep
356,West Oakland,14.0,Y,NaN,NaN,14.0,Y,12-Sep
357,Westwood,62.0,Y,41.0,21.0,62.0,NaN,12-Sep
358,Wilkinsburg Borough,194.0,Y,NaN,NaN,194.0,Y,12-Sep
359,Windgap,31.0,Y,19.0,12.0,31.0,NaN,12-Sep