In [34]:
import numpy as np
import pandas as pd

school= pd.read_csv("enrollment.csv")
student_enrollment = school.drop(columns=['african_american','american_indian','asian__not_pacific_islander', 
                    'hispanic','multiracial','native_hawaiian_or_other_pacific_islander', 'white'])

newb=student_enrollment.groupby(student_enrollment['neighborhood']).aggregate({'total_students_enrolled': 'sum'})
newb.sort_values('total_students_enrolled', ascending=False)

                     total_students_enrolled
neighborhood
Carrick                               1276.0
Brookline                             1169.0
Beechview                              794.0
Sheraden                               694.0
Squirrel Hill South                    679.0
...                                      ...
North Oakland                            0.0
South Shore                              0.0
Ridgemont                                0.0
Golden Triangle                          0.0
Esplen                                   0.0

[91 rows x 1 columns]